.producto-info-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
     /* Color similar al fondo en la imagen */
    height: auto;
  }
  
  .producto-info-container {
    display: flex;
    background-color: #fef4b1;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    width: 100%;
  }

  .producto-info-container-c {
    display: flex;
    background-color: #fef4b1;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin-left: 50px;
    width: 25%;
  }

  .comentarios h3{
    font-weight: 1000;
  }
  
  .comentarios {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .comentario {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .comentario-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0; /* Evita que la imagen cambie de tamaño */
  }
  
  .comentario-box {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 300px; /* Fija el ancho de la caja */
    height: 80px; /* Fija la altura de la caja */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
  }
  
  .comentario-box p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Evita que el texto se extienda en múltiples líneas */
  }
  
  .producto-image {
    width: 350px;
    height: auto;
    border-radius: 10px;
  }
  
  .producto-details {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .producto-details h1 {
    font-size: 32px;
    color: #8c2600;
  }
  
  .producto-details p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .producto-details label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .producto-details select,
  .producto-details input {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .buttons button {
    background-color: #59402f;
    color: white;
  }
  
  .buttons button:hover{
    background-color: #896954;
  }

  