* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.registro-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.form-container {
    background-color: #59402f;
    border-radius: 15px;
    padding: 20px;
    width: auto;
    height: auto;
    max-height: 80vh;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Usar grid para el formulario */
.form-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una columna en dispositivos pequeños */
    gap: 15px; /* Espacio entre los campos */
}

@media (min-width: 600px) {
    .form-grid {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en dispositivos más grandes */
    }
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-section label {
    font-size: 1rem;
    color: white;
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo */
}

/* Ajustar el diseño del input con el ícono */
.input-with-icon {
    display: flex;
    align-items: center;
    background-color: #fefefe;
    border: 3px solid #fef4b1;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
}

.input-with-icon input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    color: black;
}

.input-with-icon .icono-microfono {
    margin-left: 10px;
    font-size: 1.5rem;
    color: black;
}

/* Botón de envío */
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #da9147;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #93683d;
}

/* Ocultar scrollbar de la página principal */
.registro-page::-webkit-scrollbar {
    display: none;
}



