@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


/* Fondo de las páginas */
body {
  background-color: #fafafa; /* Puedes cambiarlo por alguno de los otros códigos sugeridos */
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height to the viewport height */
}

.main-content {
  flex-grow: 1; /* Take up the remaining space */
}

.footer {
  margin-top: auto; /* Stick to the bottom */
}

/* Estilos normales (por defecto) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Alto contraste */
body.contrast-high {
  background-color: #000000;
  color: #ffffff;
}

body.contrast-high h2{
   
  color: black;
}

body.contrast-high .registro-page h1{
   
  color: white;
}



body.contrast-high .producto h2{
   
  color: white;
}

body.contrast-high .mic-icon{
   
  color: white !important;
}

body.contrast-high h5{
  
  color: white;
}

body.contrast-high .accessibility-container h5{
  
  color: black;
}

body.contrast-high p{
   
  color: white;
} 

body.contrast-high .popup{
   
  background-color: black;
} 

body.contrast-high .popup-content{
   
  background-color: black;
} 

body.contrast-high h3{
   
  color: black;
}

/* Bajo contraste */
body.contrast-low {
  background-color: #f0f0f0;
  color: #606060;
}

/* Asegúrate de que los enlaces también cambien de color */
.contrast-high a { color: #00ffff; }
.contrast-low a { color: #0000ff; }

/* Puedes agregar más selectores según sea necesario para otros elementos */

body.protanopia {
  filter: hue-rotate(45deg) contrast(1.3) saturate(1.2);
}

/* Filtro para Deuteranopia */
body.deuteranopia {
  filter: hue-rotate(120deg) brightness(1.2) contrast(1.3);
}

/* Filtro para Tritanopia */
body.tritanopia {
  filter: hue-rotate(270deg) saturate(1.4) contrast(1.3);
}
