@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


/* Fondo de las páginas */
body {
  background-color: #fafafa; /* Puedes cambiarlo por alguno de los otros códigos sugeridos */
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height to the viewport height */
}

.main-content {
  flex-grow: 1; /* Take up the remaining space */
}

.footer {
  margin-top: auto; /* Stick to the bottom */
}


